In [29]:
#data from https://www.census.gov/data/datasets/time-series/demo/popest/2020s-counties-total.html

# import pandas lib
import pandas as pd
#get data
data_file = '/Users/chrisv/data_gov/data/co-est2022-alldata.csv'

#read into pandas
data = pd.read_csv(data_file)

#check data loaded, use the describe method so that we can see some genrated stats on the data
data.describe()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,NPOPCHG2020,...,RDEATH2021,RDEATH2022,RNATURALCHG2021,RNATURALCHG2022,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RDOMESTICMIG2021,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022
count,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3.195000e+03,3.195000e+03,3.195000e+03,3.195000e+03,3195.000000,...,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000
mean,49.840376,2.668545,5.191236,30.243505,102.215962,2.074801e+05,2.075189e+05,2.078445e+05,2.086307e+05,38.805634,...,13.480121,13.641809,-2.837009,-2.802682,0.474180,1.224707,4.745844,3.332793,5.220023,4.557500
std,1.253497,0.808144,1.975916,15.162061,107.495775,1.269693e+06,1.269732e+06,1.268618e+06,1.273099e+06,3053.905577,...,3.723491,3.797644,4.496929,4.616618,0.823005,2.092149,15.557329,14.492845,15.425666,14.155420
min,40.000000,1.000000,1.000000,1.000000,0.000000,6.300000e+01,6.500000e+01,5.700000e+01,5.100000e+01,-92934.000000,...,0.000000,0.000000,-23.414103,-23.353831,-1.835358,-1.184016,-119.863137,-111.111111,-118.710607,-111.111111
25%,50.000000,2.000000,4.000000,18.000000,33.000000,1.097400e+04,1.095450e+04,1.097100e+04,1.096600e+04,-36.500000,...,10.928651,11.075681,-5.769520,-5.778520,0.025239,0.096332,-3.321704,-4.303768,-2.987338,-3.001208
50%,50.000000,3.000000,5.000000,29.000000,77.000000,2.658100e+04,2.655100e+04,2.644100e+04,2.663100e+04,-3.000000,...,13.466365,13.652395,-2.862505,-2.790373,0.222724,0.567054,3.494804,2.623805,3.978840,3.679608
75%,50.000000,3.000000,7.000000,45.000000,133.000000,7.412600e+04,7.403100e+04,7.407200e+04,7.469750e+04,42.000000,...,15.901688,16.083290,0.000000,0.094681,0.604176,1.517703,11.966722,10.413410,12.357218,11.542482
max,50.000000,4.000000,9.000000,56.000000,840.000000,3.953824e+07,3.950165e+07,3.914299e+07,3.902934e+07,87046.000000,...,33.487612,33.579769,21.272800,22.561731,15.711645,34.093286,116.016533,82.741024,117.811935,89.349197

In [22]:

#SELECT rows where COLOMN IS VALUE


data.loc[data['STNAME'] == 'Alabama']

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RDEATH2021,RDEATH2022,RNATURALCHG2021,RNATURALCHG2022,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RDOMESTICMIG2021,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022
0,40,3,6,1,0,Alabama,Alabama,5024356,5031362,5049846,...,13.699945,13.210008,-2.369557,-1.696934,0.358092,0.908126,5.496167,5.651639,5.854259,6.559766
1,50,3,6,1,1,Alabama,Autauga County,58802,58902,59210,...,11.548361,11.313872,0.203197,0.605200,0.253996,0.453900,4.063939,8.540040,4.317936,8.993940
2,50,3,6,1,3,Alabama,Baldwin County,231761,233219,239361,...,12.882475,11.976220,-2.865123,-2.050243,0.444369,1.296841,29.493419,28.744576,29.937788,30.041417
3,50,3,6,1,5,Alabama,Barbour County,25224,24960,24539,...,15.475060,15.108133,-4.323320,-3.858260,0.000000,0.162453,-12.444696,9.869022,-12.444696,10.031475
4,50,3,6,1,7,Alabama,Bibb County,22300,22183,22370,...,14.275133,14.467606,-3.321886,-3.290141,0.044890,0.090141,11.626602,-13.566197,11.671492,-13.476056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,50,3,6,1,125,Alabama,Tuscaloosa County,227041,231534,235668,...,9.935745,9.689955,0.676367,0.986352,0.552224,1.367346,16.892051,2.768559,17.444275,4.135905
64,50,3,6,1,127,Alabama,Walker County,65342,65132,64629,...,20.838310,19.880901,-9.602269,-8.296632,0.277433,0.589293,0.847712,3.551269,1.125145,4.140562
65,50,3,6,1,129,Alabama,Washington County,15388,15327,15234,...,14.397435,14.758203,-2.355944,-2.371854,0.065443,0.000000,-4.253788,-4.941362,-4.188345,-4.941362
66,50,3,6,1,131,Alabama,Wilcox County,10601,10432,10331,...,16.760584,17.361452,-4.912585,-5.394801,0.385301,0.882786,-5.394211,-22.854340,-5.008910,-21.971555
67,50,3,6,1,133,Alabama,Winston County,23544,23488,23672,...,17.048346,17.163219,-7.760814,-7.674953,0.339271,0.759061,15.351993,10.416008,15.691264,11.175069

In [23]:
#filter columns a key word
filter_col = [col for col in data if col.startswith('S')]
data[filter_col]

      SUMLEV  STATE   STNAME
0         40      1  Alabama
1         50      1  Alabama
2         50      1  Alabama
3         50      1  Alabama
4         50      1  Alabama
...      ...    ...      ...
3190      50     56  Wyoming
3191      50     56  Wyoming
3192      50     56  Wyoming
3193      50     56  Wyoming
3194      50     56  Wyoming

[3195 rows x 3 columns]

In [30]:
#Filter rows in a specific column that start with 'C'
#loc accesses a group of rows and columns
data.loc[data['CTYNAME'].str.startswith('Cof', na=False)]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RDEATH2021,RDEATH2022,RNATURALCHG2021,RNATURALCHG2022,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RDOMESTICMIG2021,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022
16,50,3,6,1,31,Alabama,Coffee County,53460,53547,54171,...,13.405373,12.920276,-0.816948,-0.348701,0.482742,1.284687,11.660075,10.754662,12.142817,12.039348
433,50,3,5,13,69,Georgia,Coffee County,43088,43052,42997,...,13.248266,13.183395,-0.604307,-0.208892,0.464851,1.206931,-1.603737,3.319059,-1.138886,4.525990
922,50,2,4,20,31,Kansas,Coffey County,8358,8356,8343,...,13.174442,13.114360,-3.113959,-2.887565,0.718606,1.082837,0.479071,-5.775131,1.197677,-4.692294
2488,50,3,6,47,31,Tennessee,Coffee County,57882,58134,58933,...,15.034126,14.747895,-3.058078,-2.612484,0.563780,1.449507,16.298359,14.191689,16.862139,15.641196

In [42]:
#data by slicing 
data.iloc[:, 1:4]

      REGION  DIVISION  STATE
0          3         6      1
1          3         6      1
2          3         6      1
3          3         6      1
4          3         6      1
...      ...       ...    ...
3190       4         8     56
3191       4         8     56
3192       4         8     56
3193       4         8     56
3194       4         8     56

[3195 rows x 3 columns]

In [31]:
#get counts of each state using value_counts()
data['STNAME'].value_counts()

STNAME
Texas                   255
Georgia                 160
Virginia                134
Kentucky                121
Missouri                116
Kansas                  106
Illinois                103
North Carolina          101
Iowa                    100
Tennessee                96
Nebraska                 94
Indiana                  93
Ohio                     89
Minnesota                88
Michigan                 84
Mississippi              83
Oklahoma                 78
Arkansas                 76
Wisconsin                73
Pennsylvania             68
Alabama                  68
Florida                  68
South Dakota             67
Colorado                 65
Louisiana                65
New York                 63
California               59
Montana                  57
West Virginia            56
North Dakota             54
South Carolina           47
Idaho                    45
Washington               40
Oregon                   37
New Mexico               34
Alaska                   31
Utah                     30
Maryland                 25
Wyoming                  24
New Jersey               22
Nevada                   18
Maine                    17
Arizona                  16
Vermont                  15
Massachusetts            15
New Hampshire            11
Connecticut              10
Rhode Island              6
Hawaii                    6
Delaware                  4
District of Columbia      2
Name: count, dtype: int64

In [53]:
#basic methods, just an example.
city_count = data.groupby(by='STNAME').CTYNAME.count()
mean = city_count.mean()
median = city_count.median()
std = city_count.std()
print(f"Mean: {mean}, Median: {median}, Standard Deviation: {std}")

Mean: 62.64705882352941, Median: 63.0, Standard Deviation: 46.725934353166984